html {
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainBlock{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    border: solid 3px rgb(0, 187, 255);
    box-shadow: 0 0 10px 0 rgb(0, 187, 255) inset, 0 0 20px 2px rgb(0, 187, 255);
    color: rgb(0, 187, 255);
    font-family: 'Orbitron', sans-serif;
}
.button {
    background-color: transparent;
    padding: 1rem 2rem 1rem 2rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    border-radius: 50px;
    border: solid 2px rgb(0, 187, 255);
    color: rgb(0, 187, 255);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline 0.05em rgba(0,0,0,0);
    margin: 2rem;
}
.button:hover {
    transition: all .4s ease;
    box-shadow: 0 0 10px 0 rgb(0, 187, 255) inset, 0 0 20px 2px rgb(0, 187, 255);
    border: 2px solid rgb(0, 187, 255);
    background-color: rgba(0, 187, 255, 0.1);
    text-decoration-color: rgb(0, 187, 255);
}