html {
   background: radial-gradient(ellipse at top, #224e66 5%, #090a0f 100%);
   display: flex;
   justify-content: center;
   min-height: 100vh;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score {
    display: flex; 
    gap: 3rem;
    letter-spacing: 1px;
    font-size: 500;
}
.mainBlock{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: #183748;
    height: 45vh;
    width: 70vh;
    border: solid 3px rgb(0, 149, 255);
    box-shadow: 0 0 10px 0 rgb(0, 149, 255) inset, 0 0 20px 2px rgb(0, 149, 255);
    color: rgb(0, 149, 255);
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    text-shadow: #1b2c35 5px 3px;
}
.buttons{
    display: flex;
}
.button {
   background-color: #1b2735;
    padding: 1rem 2rem 1rem 2rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    border-radius: 50px;
    border: solid 2px rgb(0, 149, 255);
    color: rgb(0, 149, 255);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline 0.05em rgba(0,0,0,0);
    margin: 1rem;
}
.button:hover {
    transition: all .4s ease;
    box-shadow: 0 0 10px 0 rgb(0, 149, 255) inset, 0 0 20px 2px rgb(0, 149, 255);
    border: 2px solid rgb(0, 149, 255);
    background-color: rgba(0, 149, 255, 0.1);
    text-decoration-color: rgb(0, 149, 255);
}

.whiteText {
    color: rgb(207, 232, 255);
    font-size: 600;
    letter-spacing: 2px;
    text-decoration: none;
}
.redText {
    color: red;
    font-size: 800;
    letter-spacing: 2px;
}
footer {
    margin-top: auto;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgb(0, 149, 255);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline 0.05em rgba(0,0,0,0);
    position: relative;
}